# Node modules
node_modules/
.env

# Build output
dist/
build/

# Logs
logs/
*.log
npm-debug.log*

# OS-specific
.DS_Store
Thumbs.db

# IDE-specific
.vscode/
.idea/

# Coverage
coverage/

# Production env files
client/.env
server/.env

# Debug
*.pid
*.seed.js
